ul {
    list-style-type: none;
  }

h1 {
    background-color: #2A4494;
    color: rgba(255, 255, 255, 0.899);
    border-radius: 50px;
    margin: 10px;
    font-family: sans-serif;
    padding: 5px;
}